# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.venv/
env/
.env

# Environment variables
.env
.env.*

# Database
*.db
*.sqlite3

# Data files
/data

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# IA
.claude
